body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #365753
}
.login-box{
    width: 300px;
    margin: 250px auto;
    padding: 50px;
    border: 4px solid #2e3f3b;
    border-radius: 5px;
    background-color: #798E89;
    height: 260px;
}
.login-box h1{
    text-align: center;
    margin-bottom: -11px;
    font-size: 45px;
    position: relative;
    top: -50px
}
.login-box input[name=senha],
.login-box input[name=usuario]{
    width: 100%;
    padding: 13px;
    margin-bottom: 13px;
    border: 2px solid #2e3f3b;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    font-style: italic;
    background-color: #c2d4d0
}
.login-box input[name=enviar]{
    width: 100%;
    padding: 15px;
    border: 1px solid;
    border-radius: 9px;
    background-color: #2a4e46;
    color: white;
    cursor: grab;
    border-color: black;
    position: relative;
    top: 20px;
}